main {
  height: 100%;
}
.black-color {
  color: black;
}
.form-post {
  background-color: #101538;
}
.form-post input {
  color: black;
  background-color: white;
  width: 200px;
  height: 30px;
  padding: 12px;
  margin: 20px 0px 10px 0px;
  box-sizing: border-box;
  font-size: 15px;
}
.form-post textarea {
  color: black;
  background-color: white;
  width: 190px;
  height: 100px;
  padding: 12px;
  margin: 10px 0;
  font-size: 15px;
}
.btn-post-article {
  color: black;
  border-color: white;
  background-color: white;
  margin: 20px;
}
.form-edit {
  background-color: #101538;
}
.form-edit input {
  color: black;
  background-color: white;
  width: 200px;
  height: 30px;
  padding: 12px;
  margin: 20px 0px 10px 0px;
  box-sizing: border-box;
  font-size: 15px;
}
.form-edit textarea {
  color: black;
  background-color: white;
  width: 300px;
  height: 150px;
  padding: 12px;
  margin: 10px 0;
  font-size: 15px;
}
.btn-edit-article {
  color: black;
  border-color: white;
  background-color: white;
  margin: 20px;
}
.cont-btn-edit {
  padding-bottom: 20px;
}
.btn-edit {
  color: black;
  border-color: white;
  background-color: white;
  padding: 10px;
}
