article {
  text-align: left;
}
.create {
  font-size: 0.8rem;
  color: grey;
}
article > img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}
article > p {
  color: grey;
}
article > h3 {
  color: black;
}
.Article-One-By-One {
  padding: 20px;
  border: thick double grey;
}
