article {
  text-align: left;
}
.create {
  font-size: 0.8rem;
  color: grey;
}
article > img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}
article > p {
  color: grey;
}
article > h3 {
  color: black;
}
