article {
  text-align: left;
  align-items: center;
}
.create {
  font-size: 0.8rem;
  color: white;
}
.article-img {
  width: auto;
  height: 150px;
  border-radius: 10px;
}
article > p {
  color: white;
}
.article-title {
  text-align: center;
  color: black;
  background-color: white;
}
.Article-One-By-One {
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: thick double whitesmoke;
}
.likeButton {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: crosshair;
}
.likeButton:hover .iconLike {
  transform: scale(1.1);
}
