body {
  padding: 0;
  margin: 0;
  background-color: white;
}
.img-lien {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.img-lien > img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.img-lien > a:hover {
  color: #9f45b0;
}
.img-lien > .login {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
}
.login:hover {
  background-color: #ffe4f2;
}
.H1-Header {
  color: rgb(255, 255, 255);
  background-color: #0e1128;
}
/* cest pour nav link */
.active {
  color: red;
  font-weight: bold;
}
