body {
  padding: 0;
  margin: 0;
  background-color: white;
}
.img-lien {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.img-lien > img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.img-lien > a {
  color: black;
}
.img-lien > .login {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
}
.login:hover {
  background-color: #b09894;
}
h1 {
  font-size: 50px;
  color: black;
  border-top: solid grey;
  border-bottom: solid grey;
  margin-top: 0;
  padding-bottom: 10px;
}
